@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face{
	font-family: 'Fira Code';
	src: url('./fonts/FiraCode-VariableFont_wght.ttf') format("truetype");
}
body{
	width: 100%;
	min-height: 100vw;
	max-height: 100%;
	background: #000000;
}